<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <!--
    يُحذف system.codedom عند البناء بـ Release
    السبب: DotNetCompilerPlatform 2.0.1 يحتوي على bug يسبب HTTP 500
    على كل الصفحات (MissingMethodException في bin\roslyn\csc.exe)
    ASP.NET سيستخدم المترجم المدمج في .NET 4.7.2 بدلاً منه
  -->
  <system.codedom xdt:Transform="Remove"/>

</configuration>
