@model Boulevard.Areas.Admin.Data.LoginView
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAuth.cshtml";


}
<meta charset="UTF-8">
<link href="~/Areas/Admin/Content/assets/css/loginPage.css" rel="stylesheet">

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <body class="card-no-border m-0">

        <div class="contact-form">
            <img alt="" class="avatar" src="~/Areas/Admin/Content/assets/images/logo-dashboard.png">
            <h4 style="color: black; font-weight: 600; ">BOULEVARD</h4>
            <form action="">
                <p style="font-weight: 600;">User Name</p>
                <input name="UserName" required type="text">
                <p style="font-weight: 600;">Password</p>
                <input name="Password" required type="password">
                <p style="color:red;">@ViewBag.ErrorMessage</p>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </body>

}
